body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.links a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 10px;
}

.hero {
    display: flex;
    padding: 100px;
    flex: 1;
    align-items: stretch;
    background-color: #1F2937;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 0.5;
    flex-basis: 50%;
    gap: 10px;
}

#image-placeholder {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0.5;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

#hero-main-text {
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

#hero-secondary-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero-button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 120px;
    padding: 0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.hero-button2 {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30px;
    width: 120px;
    padding: 0;
    border-width: 2px;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 10px;
    font-size: 18px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.information-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.information-blocks {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.block {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 30px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #5e5e5e;
    width: 150px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding-block: 100px;
    padding-inline: 300px;
}

#quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}

#author {
    text-align: end;
    font-size: 24px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.call-to-action {
    background-color: #3882F6;
    margin-inline: 100px;
    padding-inline: 100px;
    padding-block: 75px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 75px;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.text h3 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    font-weight: 700;
}